[submodule "pynk_header_footer"]
	path = pynk_header_footer
	url = https://th-thanet@bitbucket.org/p4ftech/pynk_header_footer.git
[submodule "src/pynk_header_footer"]
	path = src/pynk_header_footer
	url = https://th-thanet@bitbucket.org/p4ftech/pynk_header_footer.git
[submodule "header_footer_pynk"]
	path = header_footer_pynk
	url = git@bitbucket.org:p4ftech/header_footer_pynk.git
[submodule "src/header_footer_pynk"]
	path = src/header_footer_pynk
	url = git@bitbucket.org:p4ftech/header_footer_pynk.git
