/* PAGE & INPUT STYLING */
@font-face {
  font-family: "Helvethaica";
  src: url("../fonts/DBHelvethaicaXv3_2.ttf") format('truetype');
}
@font-face {
  font-family: "Helvethaica";
  src: url("../fonts/DBHelvethaicaXBdv3_2.ttf") format('truetype');
  font-weight: bold;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
body {
  font-family: 'Helvethaica', sans-serif;
  font-size: 30px;
  background-color: #FFF;
  color: #000;
  margin: 0;
}
img,
picture {
  display: block;
  width: 100%;
}

h1 {
  color: #0058FF;
  margin-bottom: 0;
  font-size: 41px;
}

input[type=text], 
input[type=date], 
input[type=number],
input[type=email],
input[type=password],
input[type=tel] {
  width: 95%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

label {
  font-family: inherit;
  color: #0058FF;
  font-weight: bold;
  font-size: 32px;
}
::placeholder {
  font-family: "Helvethaica";
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.spinner {
  width: 269px;
}
.summary-text {
  font-family: inherit;
  color: #0058FF;
  font-weight: bold;
  font-size: inherit;
}

.error-input {
  border:2px solid red !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.flex-row-space {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-grow1 {
  flex-grow: 1;
}

.flex-grow2 {
  flex-grow: 2;
}
.mt15 {
  margin-top: 15px;
}
.pl15 {
  padding-left: 15px;
}
.w100 {
  width: 100% !important;
}

.login-img-wrapper {
  width: 35%;
}

.login-comp-wrapper {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.bold-text {
  font-weight: bold;
}

.error-text {
  color: red;
  font-weight: bold;
  display: none;
}

.success-text {
  color: green;
  font-weight: bold;
  display: none;
}

.show-div {
  display: block;
}

.show-error-div {
  display: block;
  color: red;
}
.show-success-div {
  display: block;
  color: green;
}

.hide-div {
  display: none;
}

.half-width {
  width: 50%;
}

.p-vertical {
  padding: 15px 0;
}

.questionaire-item {
  padding: 50px 30px 20px 30px;
}

.questionaire-item:target {
  margin-top: 50px;
}

.item-number {
  width: 55px;
  height: 55px;
}

.questionaire-title {
  display: flex;
  width: 100%;
}

.questionaire-title .right {
  padding-left: 20px;
}

.questionaire-item .form {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 15%;
  height: 220px;
}
.questionaire-item .form-short {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 15%;
  height: 150px;
}
.questionaire-item .form-text {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: 10px;
}
.questionaire-item .form .inner,
.questionaire-item .form-short .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.questionaire-item .form-text .button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.questionaire-item .form .button-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 26px;
  padding-top: 10px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 60px;
}

.header .left {
  flex: 1;
  justify-content: flex-start;
  flex-direction: row;
}
.header .right {
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 60px;
}
.header .main_logo {
  width: 380px;
}
.header .step {
  width: 200px;
}


.title-block {
  display: flex;
  align-items: center;
  margin: 50px 0;
}
.title-block2 {
  display: flex;
  align-items: center;
  margin: 50px 0;
  width: 50%;
}

.title-block .left {
  width: 30%;
}
.title-block .right {
  flex-grow: 1;
  padding: 10px 30px;
}

.main-color {
  color: #0058FF;
}

.note {
  color: #0058FF;
  font-size: 30px;
  padding-left: 20px;
}

.btn {
  border: 1px solid #808080;
  text-align: center;
  background: #6200EE;
  border-radius: 5px;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
  cursor: pointer;
  color: #FFF;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  width: 200px;
  display: block;
  text-decoration: none;
}
.btn:disabled,
.btn-next:disabled {
  background: #808080;
  cursor: not-allowed;
}
.ico-btn {
  background-color: inherit;
  border: none;
  color: #323232;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.ico-btn:hover {
  color: black;
}
.short-text {
  display: none;
}
.upform {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
		            supported by Chrome and Opera */
  max-width: 960px;
  margin: 150px auto;
  margin-bottom: 500px;
  padding: 0 20px;
}
.login-form {
  max-width: 960px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  margin-top: 80px;
}
.checkout-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.checkout-form label {
  font-family: inherit;
  color: black;
}

.checkout-form input {
  width: 100%;
}

.flex50 {
  display: flex;
  flex: 50%;
  flex-direction: column;
  padding: 0 10px;
}

.p0 {
  padding: 0;
}

.row {
  display: flex;
  width: 100%;
}

.flexend {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  margin-bottom: 30px;
}

.horizontalLine {  
  border: none; 
  border-bottom: 2px solid gainsboro;  
  margin: 20px 0;
 }

.alt-color-bg {
  background-color: #F4F4F4;
}

.summary-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0;
}

.summary-wrapper table {
  width: 100%;
  max-width: 480px;
  font-size: 26px;
}

#prequestion1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.field-email {
  position: absolute;
  left: 45%;
  width: 50%;
  top: 20%;
  height: 30%;
}
.field-password {
  position: absolute;
  left: 45%;
  width: 50%;
  top: 35%;
  height: 30%;
}
.field-confirm_password {
  position: absolute;
  left: 45%;
  width: 50%;
  top: 50%;
  height: 30%;
}
.button-next {
  position: absolute;
  left: 45%;
  width: 45%;
  top: 75%;
  height: 10%;
  text-align: center;
}
.btn-next{
  color: #FFFFFF;
  background-color: #6200EE;
  border-radius: 10px;
  max-width: 350px;
  width: 95%;
  height: 50px;
  font-family: inherit;
  font-size: inherit;
  font-weight: regular;
  letter-spacing: 1px;
  position: relative;
  border: none;
  cursor: pointer;
}
.register-form{
  width: 100%;
  height: 100%;
}
.lr-form-group{
  margin-bottom: 1rem;
}
.field-label{
  display: inline-block;
  margin-bottom: .5rem;
  color: #000;
}
.lr-form-control{
  text-align: left;
  background-color: #ffffff;
  border-radius: 5px;
  display: block;
  width: 85%;
  padding: 15px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #cfcfe8;
  outline: none;
}
.tooltip {
  visibility: hidden;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 0 5px;
  border-radius: 4px;
  margin-left: -145px;
  font-size: 12px;
}
.tooltip-visible {
  visibility: visible !important;
}
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('https://i.stack.imgur.com/FhHRx.gif')
  50% 50%
  no-repeat;
}
body.loading {
  overflow: hidden;
}
body.loading .modal {
  display: block;
}

.product-table {
  width: 100%; 
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.product-table th {
  font-weight: bold;
  text-align: left;
}

.product-table tr {
  border-bottom: 2px solid gainsboro;
  height: 45px;
}

.product-table tr:last-child td {
  font-weight: bold;
}

.product-table th:first-child {
  width: 60%;
}

.product-table th:last-child {
  width: 40%;
}

.hidden-form {
  margin-top: 10px;
}

@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 790px) {
  .flex35,
  .flex65,
  .flex50 {
    width: 97%;
  }
  .checkout-form {
    flex-direction: column;
  }
  .upform {
    margin: 0 auto;
    padding: 0;
  }
  .title-block {
    margin: 10% 0;
  }
}

@media only screen and (max-width: 480px) {

  body {
    font-size: 24px;
  }
  label {
    font-size: 24px;
  }
  ::placeholder {
    font-size: 20px;
  }
  .short-text { display: inline-block; }
  .full-text { display: none; }
  .header {
    flex-direction: column;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .header .left,
  .header .right {
    padding: 0;
  }
  .header .left {
    margin-top: 8px;
  }
  .header .right {
    flex: 1;
    margin-bottom: 8px;
  }
  .header .indent {
    margin-left: -20px;
  }
  .header .minus-indent {
    margin-right: -20px;
  }
  .header .main_logo {
    width: 220px;
  }
  .header .step {
    width: 100px;
  }
  .upform {
    margin-top: 65px;
  }
  .title-block {
    flex-direction: column;
  }

  .title-block .left {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-block .left img {
    width: 195px;
  }

  .title-block .right {
    width: 100%;
    font-size: 20.5px;
    padding: 0 0 0 10%;
  }

  .title-block .right .btn {
    width: 60%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
  }
  #prequestion1 {
    justify-content: center;
    margin-left: -10%;
  }
  .questionaire-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .questionaire-title .left {
    padding: 74px 0 0 0;
  }
  .questionaire-title .left .item-number {
    width: 45px;
    height: 45px;
  }
  .questionaire-title .right {
    padding-left: 40px;
    padding-right: 30px;
  }
  .questionaire-title .right h1 {
    margin: 28px 0 0 0;
    font-size: 30px;
  }
  .questionaire-title .right .subtitle {
    font-size: 24px;
  }
  .questionaire-title .summary-title {
    text-align: center;
    font-size: 24px;
    padding-top: 75px;
  }
  .questionaire-item {
    padding: 0;
  }
  .questionaire-item:last-child {
    padding: 20px 10px 30px 10px;
    margin-bottom: 20px;
  }
  .questionaire-item .form {
    padding-left: 60px;
  }
  .questionaire-item .form label,
  .questionaire-item .form-short label {
    font-size: 22px;
  }
  .questionaire-item .form .note {
    font-size: 22px;
  }
  .questionaire-item .form-text {
    padding: 10px 40px 0 60px;
    margin-bottom: 30px;
  }
  .summary-wrapper {
    padding-left: 30px;
    padding-top: 0;
  }
  .summary-wrapper table {
    font-size: 22px;
  }
  .summary-wrapper table tr {
    height: 40px;
  }
  .summary-wrapper table tr:first-child {
    height: 60px;
  }
  .summary-wrapper table tr:last-child {
    height: 20px;
  }
  .summary-wrapper table td {
    vertical-align: top;
  }
  .flex-row-space {
    flex-direction: column;
  }
  .half-width {
    width: 100%
  }
  .p-vertical {
    padding: 0 0 0 10px;
  }
  .login-comp-wrapper {
    width: 100%;
  }
  .login-form {
    flex-direction: column;
    padding: 0;
    margin-top: 100px;
  }

  .checkout-form h1 {
    font-size: 28px;
  }

  .checkout-form .flex50 .row {
    flex-direction: column;
  }

  .horizontalLine {
    width: 95%;
  }

  .product-table {
    width: 95%;
  }

  #qr_button,
  #cc_button {
    width: 95%;
  }
  .flex50 {
    width: 95%;
    padding: 0 0 0 5px;
  }
  .page {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 320px) {
  .body {
    font-size: 18px;
  }
  .header {
    height: 50px;
  }
  .title-block .right {
    font-size: 18px;
  }
  .title-block .left img {
    width: 180px;
  }
  .header .main_logo {
    width: 160px;
  }
  .header .step {
    width: 70px;
  }
  .upform {
    margin-top: 52px;
  }
  .summary-wrapper {
    padding-left: 10px;
  }
}

/* subscription */


.left_sub {
  position: relative;
  max-width: 70px;
  margin-right: 50px;
}

.main_sub_step1_logo {
  position: relative; 
  width: 3em;
}

.thank_you_main {
    margin-top: 2.5em;
}
.form_sub {
  margin-left: 50px;
  margin-top: 30px;
}
.text-color {
  color: #0058FF;
  
}

.text-top {
  margin-top: 20px;
}
.center-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.navbar-fixed {
  position: fixed;
}

.navbar-background {

    height: 110px !important;

}

.canter_error {
    font-size:600px;
}
.text_error {
 text-align: center;
 margin: 50px !important;
}