@font-face {
  font-family: "LightPynk";
  font-style: normal;
  font-weight: normal;
  src: url(../../../fontsPynk/NotoSansThai-Light.ttf);
}

@font-face {
  font-family: "ThinPynk";
  src: url(../../../fontsPynk/NotoSansThai-Thin.ttf);
}

@font-face {
  font-family: "RegularPynk";
  src: url(../../../fontsPynk/NotoSansThai-Regular.ttf);
}

@font-face {
  font-family: "MediumPynk";
  src: url(../../../fontsPynk/NotoSansThai-Medium.ttf);
}

@font-face {
  font-family: "SemiBoldPynk";
  src: url(../../../fontsPynk/NotoSansThai-SemiBold.ttf);
}

@font-face {
  font-family: "BoldPynk";
  src: url(../../../fontsPynk/NotoSansThai-Bold.ttf);
}

@media screen and (max-width: 576px) {
  .flex_center {
    height: 520px;
  }
}

@media screen and (min-width: 577px) {
  .flex_center {
    height: 700px;
  }
}

.LightPynk {
  font-family: "LightPynk";
}

.ThinPynk {
  font-family: "ThinPynk";
}

.RegularPynk {
  font-family: "RegularPynk";
}

.MediumPynk {
  font-family: "MediumPynk";
}

.SemiBoldPynk {
  font-family: "SemiBoldPynk";
}

.BoldPynk {
  font-family: "BoldPynk";
}

.text128 {
  font-size: 128px;
  text-align: left;
  margin-bottom: 0px;
}

.text48 {
  font-size: 48px;
}

.text32 {
  font-size: 32px;
}

.text24 {
  font-size: 24px;
}

.text20 {
  font-size: 20px;
}

.text18 {
  font-size: 18px;
}

.text-align-center {
  text-align: center;
}

.white {
  color: #fff;
}

.ef60a3 {
  color: #ef60a3;
}

.color-4a4a4a {
  color: #4a4a4a;
}

.color-2c2e2f {
  color: #2c2e2f;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-0px {
  margin-bottom: 0px;
}

.line3 {
  width: 80%;
  height: 100%;
  background-image: url("../../../../src/assets/img/home/3line.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.box_screen1 {
  background: linear-gradient(to bottom, #FFF, #FFBBD6);
  width: 100%;
  height: 700px;
  position: relative;
}

.box_screen2 {
  background: linear-gradient(to bottom, #EF9CC3, #EF60A3);
  width: 100%;
  height: 700px;
  position: relative;
}

.box_screen3 {
  background: linear-gradient(to bottom, #EF60A3, #960051);
  width: 100%;
  height: 700px;
  position: relative;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* .carousel-indicators button[data-bs-slide-to="0"].active {
  background-color: #007bff;
}

.carousel-indicators button[data-bs-slide-to="1"].active {
  background-color: #63de11;
}

.carousel-indicators button[data-bs-slide-to="2"].active {
  background-color: #e20f0f;
} */

/* 
.carousel-indicators button[data-bs-slide-to="0"].active>.carousel-inner .carousel-item.active {
  transform: rotate(0deg);
}

.carousel-indicators button[data-bs-slide-to="1"].active>.carousel-inner .carousel-item.active {
  transform: rotate(90deg);
}

.carousel-indicators button[data-bs-slide-to="2"].active>.carousel-inner .carousel-item.active {
  transform: rotate(180deg);
} */

.bebe_img {
  position: relative;
  max-width: 573px;
  height: auto;
  width: 100%;
  z-index: 1;
}

.box_animation {
  position: absolute;
  width: 100%;
  height: 100%;
}



/* @keyframes rotate0to120 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(120deg);
  }
}

@keyframes rotate120to240 {
  0% {
    transform: rotate(120deg);
  }

  100% {
    transform: rotate(240deg);
  }
}

@keyframes rotate240to360 {
  0% {
    transform: rotate(240deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */


.bubble_img {
  position: absolute;
  max-width: 573px;
  height: auto;
  width: 100%;
  z-index: 1;
  top: 22%;

}

.bubbles-bottom {
  position: absolute;
  max-width: 257px;
  height: auto;
  width: 100%;
  z-index: 1;
  top: 52%;
  left: 16px;
}


.rotate1to2 {
  animation: rotate1to2 .7s linear forwards;
}

.rotate2to0 {
  animation: rotate2to0 .7s linear forwards;
}

.rotate0to1 {
  animation: rotate0to1 .7s linear forwards;
}


@keyframes rotate0to1 {
  0% {
    left: 16px;
    transform: rotate(0deg);
  }

  100% {
    left: 200px;
    transform: rotate(-180deg);
  }
}

@keyframes rotate1to2 {
  0% {
    left: 200px;
    transform: rotate(-180deg);
  }

  100% {
    left: 300px;
    transform: rotate(-220deg);
  }
}

@keyframes rotate2to0 {
  0% {
    left: 300px;
    transform: rotate(-220deg);
  }

  100% {
    left: 16px;
    transform: rotate(-360deg);
  }
}






/* left: 16px;
    transform: rotate(-60deg); */




/* @keyframes animate-open-div {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 320px) {
  #image-section {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .bbpf-company {
    font-size: 20px !important;
  }

  .bbpf-address {
    font-size: 15px !important;
  }

  .contact-us {
    font-size: 16px !important;
  }

  .center-content-icon {
    justify-content: left !important;
  }

  .bbpf-rights {
    font-size: 6px !important;
  }

  .hr-height {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
}

@media screen and (max-width: 768px) {
  .footer-background {
    padding: 135px 0px 106px 5% !important;
  }

  .hr_class {
    margin-right: 25px !important;
  }
}

.footer-background {
  padding: 135px 5% 106px 5%;
  background-color: #fd1081;
  color: var(--white);
}

.bbpf-company {
  font-size: 32px;
  font-family: MediumPynk;
}

.bbpf-address {
  font-size: 20px;
  font-family: RegularPynk;
}

.contact-us {
  font-size: 22px;
  font-family: SemiBoldPynk;
}

.center-content-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer {
  padding: 60px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
}

.hr_class {
  background-color: white;
  height: 2px;
  margin-right: 80px;
}

.img-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.box-bbpf-rights {
  margin-top: 63px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.hr-height {
  background-color: white;
  height: 20px;
  width: 1px;
  margin-left: 16px;
  margin-right: 16px;
}

.bbpf-rights {
  font-size: 12px;
  font-family: SemiBoldPynk;
}

.button-home1 {
  position: absolute;
  background-color: #ef60a3;
  color: #fff;
  width: 35%;
  height: 14%;
  top: 60%;
  border-radius: 50px;
  text-align: center;
  margin-left: 0px;
}

.button-home2 {
  background-color: #fff;
  color: #ef60a3;
}

.box-text-home1 {
  height: 35%;
  width: 35%;
  top: 32%;
  left: 13%;
  position: absolute;
}

.slider-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
}

.slide {
  height: 0;
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.slide.active_home {
  display: block;
  flex: 1;
  opacity: 1;
  transform: translateX(0);
}

.slider {
  display: flex;
  flex-direction: row;
  transition: transform 0.7s ease;
  width: 300%;
}

.radio-buttons {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  top: 68%;
  left: 13.5%;
}

.button-carousel-active {
  background-color: #960051;
  width: 11px;
  height: 11px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 100px;
}

.button-carousel {
  background-color: #f7abce;
  width: 11px;
  height: 11px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 100px;
}

.button-carousel:hover {
  background-color: #960051;
}

.home2 {
  background-color: #fff;
  position: relative;
  display: grid;
  z-index: 1;
  align-items: center;
}

.head-home2 {
  display: inline-block;
  width: 68%;
  position: relative;
  margin-top: 6%;
  margin-left: 16%;
  opacity: 0;
}

.animate-open-div {
  animation: animate-open-div 1s ease-out;
  opacity: 1;
}

.bounce-container {
  background-color: #fff;
  display: grid;
  place-items: center;
  margin-top: 22px;
  opacity: 0;
}

.animate-bounce-container {
  animation: animate-bounce-container 0.7s ease-out;
  opacity: 1;
}

@keyframes animate-bounce-container {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.bubble {
  position: absolute;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);

  left: 0%;
  top: -20px;
  animation: animate-bubble 5s ease-in-out infinite;
  z-index: 0;
}

.bubble1 {
  position: absolute;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);
  left: 90%;
  top: 29%;
  animation: animate-bubble 5s ease-in-out infinite;
  animation-delay: -4s;
  z-index: 1;
}

.bubble2 {
  position: absolute;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);
  left: 86%;
  top: 42%;
  animation: animate-bubble 5s ease-in-out infinite;
  animation-delay: -2s;
  z-index: 0;
}

.bubble3 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);
  left: 10%;
  top: 45%;
  animation: animate-bubble 5s ease-in-out infinite;
  z-index: 1;
}

.bubble4 {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);
  left: 5%;
  top: 39%;
  animation: animate-bubble 5s ease-in-out infinite;
  z-index: 1;
  animation-delay: 3s;
}

.bubble5 {
  position: absolute;
  width: 143px;
  height: 143px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);
  left: 5%;
  top: 20%;
  animation: animate-bubble 5s ease-in-out infinite;
  z-index: 0;
  animation-delay: -5s;
}

@keyframes animate-bubble {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-40px);
  }
}

.bubble6 {
  position: absolute;
  width: 183px;
  height: 183px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);
  left: 9%;
  top: 52%;
  z-index: 0;
  opacity: 0;
}

.animate-bubble6 {
  animation: animate-bubble6 1s ease-in;
  animation-delay: 0.7s;
  opacity: 1;
}

@keyframes animate-bubble6 {

  0%,
  100% {
    transform: translate(0);
  }

  50% {
    transform: translate(134px, 96px);
  }
}

.bubble7 {
  position: absolute;
  width: 238px;
  height: 238px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);
  left: 45%;
  top: 15%;
  z-index: 0;
  opacity: 0;
}

.animate-bubble7 {
  animation: animate-bubble7 1s ease-in;
  animation-delay: 0.7s;
  opacity: 1;
}

@keyframes animate-bubble7 {

  0%,
  100% {
    transform: translate(0);
  }

  50% {
    transform: translateY(110px);
  }
}

.bubble8 {
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);
  left: 86%;
  top: 34%;
  z-index: 0;
  opacity: 0;
}

.animate-bubble8 {
  animation: animate-bubble8 1s ease-in;
  animation-delay: 0.7s;
  opacity: 1;
}

@keyframes animate-bubble8 {

  0%,
  100% {
    transform: translate(0);
  }

  50% {
    transform: translate(34px, 126px);
  }
}

.bubble9 {
  position: absolute;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: radial-gradient(ellipse at left top, #fff, #dcd8e9);
  left: 86%;
  top: 6%;
  z-index: 0;
  opacity: 0;
}

.animate-bubble9 {
  animation: animate-bubble9 1s ease-in;
  animation-delay: 0.7s;
  opacity: 1;
}

@keyframes animate-bubble9 {

  0%,
  100% {
    transform: translate(0);
  }

  50% {
    transform: translate(-114px, -15px);
  }
}

.bebe-bubble {

  display: inline-block;
  position: relative;
  z-index: 10;
  opacity: 0;
}

.animate-bebe-bubble {
  animation: animate-bebe-bubble 1s ease-in;
  animation-delay: 0.7s;
  opacity: 1;
}

@keyframes animate-bebe-bubble {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1) translateY(25px);
  }

  100% {
    transform: scale(1);
  }
}

.background-container-bounce {
  width: 83%;
  height: 89%;
  background-color: #fcdeec;
  z-index: 1;
  border-radius: 52px;
}

.content-home2 {
  width: 100%;
  height: 100%;
}

.first-content-bubble {
  position: relative;
  top: -5%;
  left: 0%;
}

.second-content-bubble {
  width: 94%;
  text-align: left;
  position: relative;
  top: 7%;
  height: 75%;
}

.mg-withbebe {
  margin-bottom: 32px;
  margin-top: -60px;
}

.stayfit-item-home2 {
  height: 812px;
  margin-left: 7.8%;
  padding-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0;
}

.animate-stayfit-item {
  animation: animate-stayfit-item 0.7s ease-in;
  opacity: 1;
}

@keyframes animate-stayfit-item {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.grid-item {
  width: 580px;
  height: 650px;
  display: flex;
  position: relative;
  text-align: left;
}

.margin-grid-item-home2 {
  margin-left: -12.2%;
}

.first-content-stayfit {
  position: absolute;
  width: 90%;
  height: 42%;
  top: 50%;
  left: 10%;
}

.second-content-stayfit {
  position: absolute;
  width: 90%;
  height: 48%;
  top: 50%;
  left: 14%;
}

.home3 {

  background-image: url("../../../assets/img/home/background_home3.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1112px;
  padding-top: 120px;


}

.home3-container {
  display: block;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  opacity: 0;
}

.animate-open-home3 {
  animation: animate-open-div 0.7s ease-in;
  opacity: 1;
}

.card-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.card-item-course {
  max-width: 390px;
  width: 100%;
  height: 558px;
  border: 1px solid white;
  background: linear-gradient(to left top, #fff, #f4a7bc, #fff);
  border-radius: 16px;

  cursor: pointer;
  transition: background-color 0.3s;
}



.suggestion {
  margin-top: -64px;
  position: absolute;
  background-color: #ff4858;
  border: 2px solid white;
  text-align: center;
  width: 154px;
  height: 55.5;
  border-radius: 7px;
  box-shadow: 0 4px 8px #acacac;
}

.suggestion::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.suggestion::after {
  content: "";
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #ff4858 transparent;
}

.card-image {
  position: relative;
  top: 5%;
  left: 15%;
}

.card-item-course:nth-child(-n + 3):hover {
  transform: scale(1.14);
  background: white;
  transition: transform 0.3s ease-out;
}

.card-item-course.hovered {
  transform: scale(1.14);
  background: white;
}

.card-text-box {
  position: relative;
  width: 90%;
  top: 10%;
  left: 5%;
}

.fa-arrow-right {

  color: #acacac;
  position: relative;
  border-radius: 90px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-card-item-course:hover .fa-arrow-right {

  color: white;
  background-color: #ef60a3;
}

.slider-card-item-course-center:hover .fa-arrow-right {

  color: white;
  background-color: #ef60a3;
}

.home4 {
  background-image: url("../../../assets/img/home/background_home4.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1064px;
  padding-top: 120px;
}

.home4-container {
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
}

.home-star {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 30%;
  left: 35%;
}

.animate-open-home4 {
  animation: animate-open-div 0.7s ease-in;
  opacity: 1;
}

.comment-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 415px;
}

.card-comment1 {
  grid-column: 1;
  grid-row: 1;
  animation: slide-up1 0.7s ease-in;
  opacity: 1;
}

.card-comment2 {
  grid-column: 2;
  grid-row: 1;
  animation: slide-up2 1s ease-in;
  opacity: 1;
}

.card-comment3 {
  grid-column: 3;
  grid-row: 1;
  animation: slide-up3 1.3s ease-in;
  opacity: 1;
}

.card-comment4 {
  position: relative;
  top: -25%;
  grid-column: 1;
  grid-row: 2;
  animation: slide-up4 1.6s ease-in;
  opacity: 1;
}

.card-comment5 {
  grid-column: 2;
  grid-row: 2;
  animation: slide-up5 1.9s ease-in;
  opacity: 1;
}

.card-comment6 {
  position: relative;
  top: -25%;
  grid-column: 3;
  grid-row: 2;
  animation: slide-up6 2.2s ease-in;
  opacity: 1;
}

@keyframes slide-up1 {
  0% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up2 {

  0%,
  10% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up3 {

  0%,
  20% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up4 {

  0%,
  30% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up5 {

  0%,
  40% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up6 {

  0%,
  50% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.home5 {
  background-color: white;
  width: 100%;
  height: 759px;
  padding-top: 120px;
}

.text-home5 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  left: 10%;
  margin-bottom: 32px;
}

.card-container-home5 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  left: 10%;
}

.card-content-home5 {
  width: 376px;
  height: 406px;
}

.card-content-home5:nth-child(-n + 3):hover {
  transform: scale(1.04);
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.mb-16 {
  margin-bottom: 16px;
}





.box-home-slider-1 {
  margin-top: 32px;
  padding-top: 64px;
  width: 390px;
  height: 800px;
}

.box-home-slider-2 {
  margin-top: 0px;
  padding-top: 64px;
  width: 390px;
  height: 800px;
}

.box-home-slider-3 {
  margin-top: 32px;
  padding-top: 64px;
  width: 390px;
  height: 800px;
}

@media only screen and (max-width: 576px) {
  .box-home-slider-1 {
    width: 224px !important;
    height: 800px !important;
  }

  .box-home-slider-2 {

    width: 224px !important;
    height: 800px !important;
  }

  .box-home-slider-3 {
    width: 224px !important;

  }
}

@media only screen and (min-width: 577px) {


  .box-home-slider-1 {
    padding-left: 24px !important;
  }

  .box-home-slider-2 {
    padding-left: 24px !important;
  }

  .box-home-slider-3 {
    padding-left: 24px !important;
  }
}


.home3 .slick-slider button {
  display: none !important;
}

.home3 .slick-slider button {
  display: none !important;
}

.home3 .slick-slider button {
  display: none !important;
}

.home3 .slick-slider {
  padding: 0 !important;

  margin: 0px 0px 0px 0px !important;
  position: relative;
}

.slider-card-item-course {
  max-width: 390px;
  width: 100%;
  height: 558px;
  border: 1px solid white;
  background: linear-gradient(to left top, #fff, #f4a7bc, #fff);
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.slider-card-item-course:hover {
  transform-origin: -20% 0%;
  transform: scale(1.05);
  max-width: 410px;
  width: 100%;
  height: 578px;
  border: 1px solid #f4a7bc;
  transition: transform 0.3s ease-out;
}




.slider-card-item-course-center {
  max-width: 390px;
  width: 100%;
  height: 636px;
  border: 1px solid white;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-card-item-course-center:hover {
  transform-origin: -20% 0%;
  transform: scale(1.05);
  background: white;
  max-width: 390px;
  width: 100%;
  height: 636px;
  border: 1px solid #f4a7bc;
  transition: transform 0.3s ease-out;

}

.box-fitto4week {
  padding: 0px 16px;
  padding-top: 37px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.fitto4week {
  max-width: 273px;
  width: 100%;
  height: auto;

} */