@font-face {
  font-family: "LightPynk";
  font-style: normal;
  font-weight: normal;
  src: url(../../../fontsPynk/NotoSansThai-Light.ttf);
}

@font-face {
  font-family: "ThinPynk";
  src: url(../../../fontsPynk/NotoSansThai-Thin.ttf);
}

@font-face {
  font-family: "RegularPynk";
  src: url(../../../fontsPynk/NotoSansThai-Regular.ttf);
}

@font-face {
  font-family: "MediumPynk";
  src: url(../../../fontsPynk/NotoSansThai-Medium.ttf);
}

@font-face {
  font-family: "SemiBoldPynk";
  src: url(../../../fontsPynk/NotoSansThai-SemiBold.ttf);
}

@font-face {
  font-family: "BoldPynk";
  src: url(../../../fontsPynk/NotoSansThai-Bold.ttf);
}

@media screen and (max-width: 576px) {
  .flex_center {
    height: 520px;
  }
}

@media screen and (min-width: 577px) {
  .flex_center {
    height: 700px;
  }
}

@media screen and (max-width: 320px) {
  #image-section {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .bbpf-company {
    font-size: 20px !important;
  }

  .bbpf-address {
    font-size: 15px !important;
  }

  .contact-us {
    font-size: 16px !important;
  }

  .center-content-icon {
    justify-content: left !important;
  }

  .bbpf-rights {
    font-size: 6px !important;
  }

  .hr-height {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
}

@media screen and (max-width: 768px) {
  .footer-background {
    padding: 135px 0px 106px 5% !important;
  }

  .hr_class {
    margin-right: 25px !important;
  }
}

.footer-background {
  padding: 135px 5% 106px 5%;
  background-color: #fd1081;
  color: var(--white);
}

.bbpf-company {
  font-size: 32px;
  font-family: MediumPynk;
}

.bbpf-address {
  font-size: 20px;
  font-family: RegularPynk;
}

.contact-us {
  font-size: 22px;
  font-family: SemiBoldPynk;
}

.center-content-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer {
  padding: 60px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
}

.hr_class {
  background-color: white;
  height: 2px;
  margin-right: 80px;
}

.img-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.box-bbpf-rights {
  margin-top: 63px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.hr-height {
  background-color: white;
  height: 20px;
  width: 1px;
  margin-left: 16px;
  margin-right: 16px;
}

.bbpf-rights {
  font-size: 12px;
  font-family: SemiBoldPynk;
}

.LightPynk {
  font-family: "LightPynk";
}

.ThinPynk {
  font-family: "ThinPynk";
}

.RegularPynk {
  font-family: "RegularPynk";
}

.MediumPynk {
  font-family: "MediumPynk";
}

.SemiBoldPynk {
  font-family: "SemiBoldPynk";
}

.BoldPynk {
  font-family: "BoldPynk";
}

.text128 {
  font-size: 128px;
  text-align: left;
  margin-bottom: 0px;
}

.text48 {
  font-size: 48px;
}

.text32 {
  font-size: 32px;
}

.text24 {
  font-size: 24px;
}

.text20 {
  font-size: 20px;
}

.text18 {
  font-size: 18px;
}

.text-align-center {
  text-align: center;
}

.white {
  color: #fff;
}

.ef60a3 {
  color: #ef60a3;
}

.color-4a4a4a {
  color: #4a4a4a;
}

.color-2c2e2f {
  color: #2c2e2f;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-0px {
  margin-bottom: 0px;
}

@media only screen and (min-width: 1441px) {
  .page {
    width: 1440px;
    margin: 0 auto;
  }
}
.text-home2 {
  position: relative;
  margin-top: 64px;
  width: 70%;
  left: 15%;
}
.box-home-slider-1 {
  margin-top: 32px;
  padding-top: 64px;
  width: 390px;
  height: 800px;
}

.box-home-slider-2 {
  margin-top: 0px;
  padding-top: 64px;
  width: 390px;
  height: 800px;
}

.box-home-slider-3 {
  margin-top: 32px;
  padding-top: 64px;
  width: 390px;
  height: 800px;
}
.fa-arrow-right {
  color: #acacac;
  position: relative;
  border-radius: 90px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-card-item-course:hover .fa-arrow-right {
  color: white;
  background-color: #ef60a3;
}

.slider-card-item-course-center:hover .fa-arrow-right {
  color: white;
  background-color: #ef60a3;
}
.box-home-slider-1 {
  padding-left: 24px !important;
}

.box-home-slider-2 {
  padding-left: 24px !important;
}

.box-home-slider-3 {
  padding-left: 24px !important;
}

.home3 .slick-slider button {
  display: none !important;
}

.home3 .slick-slider button {
  display: none !important;
}

.home3 .slick-slider button {
  display: none !important;
}

.home3 .slick-slider {
  padding: 0 !important;

  margin: 0px 0px 0px 0px !important;
  position: relative;
}

.slider-card-item-course {
  width: 100%;
  height: 558px;
  border: 1px solid white;
  background: linear-gradient(to left top, #fff, #f4a7bc, #fff);
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (max-width: 480px) {
  .slider-card-item-course {
    width: 340px !important;
    padding: 10px;
  }
}

.slider-card-item-course:hover {
  transform-origin: -20% 0%;
  transform: scale(1.05);
  max-width: 410px;
  width: 100%;
  height: 578px;
  border: 1px solid #f4a7bc;
  transition: transform 0.3s ease-out;
}

@media only screen and (max-width: 576px) {
  .box-home-slider-1 {
    width: 224px !important;
    height: 800px !important;
  }

  .box-home-slider-2 {
    width: 224px !important;
    height: 800px !important;
  }

  .box-home-slider-3 {
    width: 224px !important;
  }
}

@media only screen and (min-width: 577px) {
  .box-home-slider-1 {
    padding-left: 24px !important;
  }

  .box-home-slider-2 {
    padding-left: 24px !important;
  }

  .box-home-slider-3 {
    padding-left: 24px !important;
  }
}

.home3 .slick-slider {
  padding: 0 !important;

  margin: 0px 0px 0px 0px !important;
  position: relative;
}

.slider-card-item-course {
  max-width: 390px;
  width: 100%;
  height: 558px;
  border: 1px solid white;
  background: linear-gradient(to left top, #fff, #f4a7bc, #fff);
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-card-item-course:hover {
  transform-origin: -20% 0%;
  transform: scale(1.05);
  max-width: 410px;
  width: 100%;
  height: 578px;
  border: 1px solid #f4a7bc;
  transition: transform 0.3s ease-out;
}

.slider-card-item-course-center {
  max-width: 390px;
  width: 100%;
  height: 636px;
  border: 1px solid white;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (max-width: 480px) {
  .slider-card-item-course-center {
    width: 340px !important;
    padding: 10px;
  }
}

.slider-card-item-course-center:hover {
  transform-origin: -20% 0%;
  transform: scale(1.05);
  background: white;
  max-width: 390px;
  width: 100%;
  height: 636px;
  border: 1px solid #f4a7bc;
  transition: transform 0.3s ease-out;
}

.box-fitto4week {
  padding: 0px 16px;
  padding-top: 37px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.fitto4week {
  max-width: 273px;
  width: 100%;
  height: auto;
}

.comment-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 415px;
}

.card-comment1 {
  animation: slide-up1 0.7s ease-in;
  opacity: 1;
  /* width: 100%; */
}

.card-comment2 {
  animation: slide-up2 1s ease-in;
  opacity: 1;

  /* width: 100%; */
}

.card-comment3 {
  width: 100%;
  animation: slide-up3 1.3s ease-in;
  opacity: 1;
}

.card-comment4 {
  position: relative;
  /* top: -25%; */
  width: 100%;
  animation: slide-up4 1.6s ease-in;
  opacity: 1;
}

.card-comment5 {
  animation: slide-up5 1.9s ease-in;
  opacity: 1;
}

.card-comment6 {
  position: relative;
  /* top: -25%; */
  animation: slide-up6 2.2s ease-in;
  opacity: 1;
}

.next-btn-home {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  z-index: 3;
  right: 0;
  cursor: pointer;
}

.previous-btn-home {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  z-index: 3;
  left: 0px;
  cursor: pointer;
}

@keyframes slide-up1 {
  0% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up2 {
  0%,
  10% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up3 {
  0%,
  20% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up4 {
  0%,
  30% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up5 {
  0%,
  40% {
    transform: translateY(100vw);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up6 {
  0%,
  50% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.home5 {
  background-color: white;
  width: 100%;
  height: 759px;
  padding-top: 120px;
}

.text-home5 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  left: 10%;
  margin-bottom: 32px;
}

.card-container-home5 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  left: 10%;
  gap: 30px;
}

.card-content-home5 img {
  width: 100%;
  height: auto;
}

.card-content-home5:nth-child(-n + 3):hover {
  transform: scale(1.04);
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
