@media only screen and (max-width: 576px) {
    .head-shop {
        display: none !important;
    }

    .gap-5 {
        gap: 1rem !important;
    }

    .slider-div {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .height-box-slider {
        height: 300px !important;
    }

    .bfr-coupon {
        width: 254px !important;
        height: 127px !important;
    }

    .box-bfr_coupon {
        justify-content: normal !important;
        margin-top: 32px !important;
        margin-bottom: 64px !important;
    }
}

@media (min-width: 768px) {
    .d-flex {
        overflow-x: hidden;
    }
}

.product .img_product {
    border: 2px solid #E8E8E8;
    border-bottom: 0;
    transition: all;
}

.product:hover .img_product {
    border: 2px solid #EF60A3;
    border-bottom: 0;
    transition: all;
}

.product .detail_product {
    border: 2px solid #E8E8E8;
    transition: all;
}

.product:hover .detail_product {
    border: 2px solid #EF60A3;
    transition: all;
}

.product button {
    display: none;
    transition: all;
}

.product:hover button {
    display: flex;
    transition: all;
}

.icon-kg {
    position: absolute;
    z-index: 0;
    margin-top: 50px;
}

.icon-kg-text {
    margin-top: 100px;
    text-align: center;
    color: #2C2E2F;
    font-family: Regular;
}

.icon_other-text {
    text-align: center;
    color: #2C2E2F;
    font-family: Regular;
}

.slider-div {
    padding-left: 32px;
    padding-right: 32px;
}

.next-btn2 {
    right: 0px !important;
}

.icon-cart-white {
    position: absolute;
    margin-left: 40px;
}

.span-div {
    margin-top: -40px;
    margin-left: 30px;
}

.height-box-slider {
    margin-top: 70px;
    height: 500px;
}

.bfr-coupon {
    width: 584px;
    height: 292px;
}



.d-flex::-webkit-scrollbar {
    width: 768px;
}

.d-flex::-webkit-scrollbar-thumb {
    display: none;
}

.box-bfr_coupon {
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 195px;
}