.box-order-summary {
    background-color: var(--disabled-BG);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    /* ให้ padding และ border ถูกคำนวณเข้าไปในความกว้างและความสูง */
}

.background-order-summary {
    background-image: url('../../../assets/img/pynk/shop/background-how.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 701px;
}