<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Bebe Stay Fit</title>

    <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt:wght@200;600;700;900&display=swap');
      .colored {
        color: #000000;
      }
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    body {
      font-family: 'Prompt', sans-serif;
    }
    </style>
</head>

<body>
  <div style="width: 100%;">
    <center>
        <div class='colored'>
            <div style="width: 900px;  display: table-cell;text-align: center;vertical-align: middle;border: 1px solid #FFF; box-shadow: 1px 3px 5px 5px #c4c4c4; border-radius: 10px;">
              <div style="background-color: #FFF; font-family: 'Prompt', sans-serif;">
                  <div style="margin-top: 60px;">
                      <div style="line-height:100%;">
                          <p style="font-size: 32px; color: #E25E96;  font-weight: 600;"> BEBEStayFit</p>
                          <div>
                              <div style="border-bottom: 1px solid #707174; margin: 0px 40px 0px 40px;"></div>
                              <p style="font-size: 32px; font-weight: 600;"> คำขอเปลี่ยนรหัสผ่านใหม่</p>
                              <div style="border-bottom: 1px solid #707174;  margin: 0px 40px 0px 40px;"></div>
                          </div>
                      </div>
                      <div style="text-align:left; padding-left: 100px;  mmargin-top: 40px; font-size: 24px; line-height:100%;">
                          <p>เรียนคุณ   <span style="font-weight: 600;">ชื่อในระบบ</span></p>
                          <p>เราได้รับคำขอในการเปลี่ยนรหัสผ่านใหม่</p>
                          <p>กรุณากดปุ่มด้านล่างเพื่อทำการตั้งรหัสผ่านใหม่</p>
                      </div>
                  </div>
                      <button style="width: 200px; height: 50px; margin-top: 30px; border-radius: 50px; border: 1px solid #E25E96; background-color: #E25E96; font-size: 20px; color: #FFF; font-family: 'Prompt', sans-serif;" type="button">
                        <a href="http://localhost:3000/#/new_password" style="color: white;  text-decoration: none;">
                        เปลี่ยนรหัสผ่านใหม่
                        </a>   
                      </button>
                  <div style="font-family: 'Prompt', sans-serif; background-color: #F2F2F2; height: 100px; margin-top: 30px; line-height:70%; padding-top: 5px; padding-bottom: 5px;">
                      <p>หากคุณไม่ไดส่งคำขอกรุณา  </p>
                      <p>กดที่นี่ <a href="#" >/hyperlink </a> </p>
                      <p>หรือติดต่อเราที่ contact@bebefitroutine.com โทร 028216146</p>
                  </div>
              </div>
          </div>
        </div>
    </center>
  </div>
</body>
</html>