<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebe Stay Fit</title>

</head>

<body>

    <div style="display: flex; justify-content: center;">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400;600;800&display=swap');
        </style>
        <div
            style="width: 900px; height: 1220px; display: table-cell;text-align: center;vertical-align: middle;border: 1px solid #FFF; box-shadow: 1px 3px 5px 5px #c4c4c4; border-radius: 10px;">
            <div style="background-color: #FFF; font-family: 'Prompt', sans-serif;">
                <div style="margin-top: 60px;">
                    <div style="line-height:100%;">
                        <p style="font-size: 32px; color: #E25E96;  font-weight: 600;"> BEBEStayFit</p>
                        <div>
                            <div style="border-bottom: 1px solid #707174; margin: 0px 40px 0px 40px;"></div>
                            <p style="font-size: 32px; font-weight: 600;"> ยินดีต้อนรับสมาชิกใหม่ของเรา</p>
                            <div style="border-bottom: 1px solid #707174;  margin: 0px 40px 0px 40px;"></div>
                        </div>
                    </div>
                    <div style="margin-top: 40px; font-size: 24px; line-height:100%;">
                        <p>ขอบคุณที่มาสมัครเข้าร่วมเป็นสมาชิก Bebe Stay Fit</p>
                        <p>ทางทีมงานได้รับข้อมูลการสมัครเรียบร้อยแล้ว</p>
                        <p>เราขอบคุณที่ท่านให้ความสนใจและเลือกเราเป็นส่วนหนึ่งสู่ความสำเร็จ </p>
                        <p>มาสร้างวินัย และมีความสุขกับการออกกำลังกายนะคะ </p>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <div style="width: 480px;padding: 25px;border: 1px solid; border-radius: 10px;">
                            <div style="margin-top: -20px; text-align: left;">
                                <div style="line-height:60%;">
                                    <p style="font-size: 20px; color: #E25E96;">วันที่ชำระ 30 มิถุนายน 2565</p>
                                    <p style="font-size: 26px; font-weight: 600;"> สมัครตามระยะเวลาของโปรแกรม</p>
                                    <p style="font-size: 20px; font-weight: 600;"> สิ่งที่จะได้รับ </p>
                                </div>
                                <div>
                                    <li>Exercise program</li>
                                    <li>Nutrition program</li>
                                    <li>Supplement program</li>
                                    <li style=" display: flex;justify-content: space-between;">Fitto Plant Protein - Classic malt Flavor <span>6  กล่อง</span></li>
                                </div>
                                <div style="line-height:60%;">
                                    <p style="font-size: 20px; font-weight: 600;"> ฟรีของแถม</p>
                                </div>
                                    <div>
                                        <li style=" display: flex;justify-content: space-between;">Shaker <span>1 ชิ้น</span></li>
                                        <li style=" display: flex;justify-content: space-between;">Fitto Drink - Dark Cocoa <span>1 ซอง</span></li>
                                        <li style=" display: flex;justify-content: space-between;">Fitto Drink - Arabica Latte <span>1 ซอง</span></li>
                                        <li style=" display: flex;justify-content: space-between;">Fitto Plus COLLA C Pouche <span>1 ซอง</span></li>
                                    </div>
                             
                                <div>
                                    <p  style="font-size: 20px; font-weight: 600;"> สรุป</p>
                                    <p style=" display: flex;justify-content: space-between;"> ราคา (รวม Vat 7%) <span style="font-weight: 600; font-size: 26px;">3,750 บาท / 2 เดือน</span></p>
                                    <p style="text-align: right; line-height:60%; font-size: 15px;">เราจะทำการเรียกเก็บเงินทุกๆ 2 เดือน</p>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
                    <button style="width: 200px; height: 50px; margin-top: 30px; border-radius: 50px; border: 1px solid #E25E96; background-color: #E25E96; font-size: 20px; color: #FFF; font-family: 'Prompt', sans-serif;" type="button">
                        เริ่มต้นใช้งาน
                    </button>
                <div style="font-family: 'Prompt', sans-serif; background-color: #F2F2F2; height: 100px; margin-top: 30px; line-height:70%; padding-top: 5px; padding-bottom: 5px;">
                    <p>หากคุณไม่ได้ทำการสั่งซื้อกรุณา <a href="#">/hyperlink</a> </p>
                    <p c>กดที่นี่ <a href="#" >/hyperlink </a> </p>
                    <p > หรือติดต่อเราที่ XXXXXX</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>