<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Bebe Stay Fit</title>

  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt:wght@200;600;700;900&display=swap');

    .colored {
      color: #000000;
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    body {
      font-family: 'Prompt', sans-serif;
    }
  </style>
</head>

<body>
  <div style="width: 100%;">
    <center>
      <div class='colored'>
        <div
          style="width: 900px; padding-bottom: 20px; display: table-cell;text-align: center;vertical-align: middle;border: 1px solid #FFF; box-shadow: 1px 3px 5px 5px #c4c4c4; border-radius: 10px;">
          <div
            style="background-color: #FFF; font-family: 'Prompt', sans-serif;  padding-left: 20px;padding-right: 20px; ">
            <div style="margin-top: 60px;">
              <div">
                <img src="https://fit.bebefitroutine.com/uploads/group198.png"
                  style="padding-bottom: 20px;padding-top: 40px;">
                <div>
                  <div style="border-bottom: 1px solid #707174; margin: 0px 40px 0px 40px;"></div>
                  <p style="font-size: 32px; font-weight: 600;"> New password change request</p>
                  <div style="border-bottom: 1px solid #707174;  margin: 0px 40px 0px 40px;"></div>
                </div>
            </div>
            <div style="text-align: center;
display: inline-block;">
              <div style="text-align:left;   margin-top: 40px; font-size: 20px; ">
                <p>Dear <span style="font-weight: 600;">${email}</span></p>
                <p>We have received a request to change a new
                  password,</p>
                <p>please press the button below to reset

                  your password.</p>
              </div>
            </div>
          </div>
          <div>
            <button
              style="width: 200px; height: 50px; margin-top: 30px; border-radius: 50px; border: 1px solid #E25E96; background-color: #E25E96; font-size: 20px; color: #FFF; font-family: 'Prompt', sans-serif;"
              type="button">
              <a href="https://fit.bebefitroutine.com/#/new_password?email=${email}"
                style="color: white;  text-decoration: none;">
                Change Password
              </a>
            </button>
          </div>

          <div
            style="font-family: 'Prompt', sans-serif; font-size: 18px; background-color: #F2F2F2;  margin-top: 30px;  padding-top: 5px; padding-bottom: 5px;">
            <p>contact us at</p>
            <p>contact@bebefitroutine.com</p>
            <p>Tel 028216146</p>
          </div>
        </div>
      </div>
  </div>
  </center>
  </div>
</body>

</html>