HomeHTMLTry HTML
Result Size: 945 x 783
ซอง
<p></p>
</div>
<div style="width: 900px;">
    <center>
        <div style="width: 480px;padding: 25px;border: 1px solid; border-radius: 10px;">
            <div style="margin-top: -20px; text-align: left;">
                <div>
                    <p style="font-size: 20px; color: #E25E96;">payment date ${orderdate} </p>
                    <p style="font-size: 26px; font-weight: 600;"> Apply for the duration of the program</p>
                    <p style="font-size: 20px; font-weight: 600;"> What to get </p>
                </div>
                <div>
                    <li>Exercise program</li>
                    <li>Nutrition program</li>
                    <li>Supplement program</li>
                    <li>Fitto Plant Protein <span style="float: right;">6 boxes</span></li>
                </div>

                <div style="line-height:60%;">
                    <p style="font-size: 20px; font-weight: 600;"> Free</p>
                </div>
                <div>
                    <li>Shaker <span style="float: right;">1 piece</span></li>
                    <li>Fitto Pre Workout - Green Lemonade <span style="float: right;">1 pack</span></li>
                    <li>Fitto Drink - Arabica Latte <span style="float: right;">1 pack</span></li>
                    <li>Fitto Colla C Unflavored <span style="float: right;">1 pack</span></li>
                </div>

                <div>
                    <p style="font-size: 26px; font-weight: 600;"> Total</p>
                    <p style="font-size: 20px;"> total (Incl. Vat 7%) <span
                            style="font-weight: 600; font-size: 26px; float: right;">3,750 Baht / 2 months</span></p>
                    <p style="text-align: right; line-height:1.5; font-size: 15px;  margin-top: 20px;">*Special price
                        for the first 2 months. <br> When
                        the maturity is due, will be paid on a
                        monthly basis, 1,800 baht per month until
                        the end of the period recommended by the
                        program. You can pause your monthly
                        payments whenever you want.</p>

                </div>
            </div>
        </div>
    </center>
    </>
</div>
<button
    style="width: 200px; height: 50px; margin-top: 30px; border-radius: 50px; border: 1px solid #E25E96; background-color: #E25E96; font-size: 20px; color: #FFF; font-family: 'Prompt', sans-serif;"
    type="button">
    <a href="https://fit.bebefitroutine.com/#/welcome_new_nember" style="color: white; text-decoration: none;">
        Get start
    </a>
</button>
<div
    style="font-family: 'Prompt', sans-serif; background-color: #F2F2F2; height: 100px; margin-top: 30px; line-height:70%; padding-top: 5px; padding-bottom: 5px;">
    <p>Get help with purchases</p>
    <p>contact us at contact@bebefitroutine.com Tel 028216146</p>
</div>
</div>
</div>