<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Bebe Stay Fit</title>

  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt:wght@200;600;700;900&display=swap');

    .colored {
      color: #000000;
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    body {
      font-family: 'Prompt', sans-serif;
    }
  </style>
</head>

<body style="width: 90vw;">
  <div style="width: 100%;">
    <center>
      <div class='colored'>
        <div
          style="width: 900px; height: 1220px; display: table-cell;text-align: center;vertical-align: middle;border: 1px solid #FFF; box-shadow: 1px 3px 5px 5px #c4c4c4; border-radius: 10px;">
          <div style="background-color: #FFF; font-family: 'Prompt', sans-serif;">
            <div style="margin-top: 60px;">
              <div>
                <img src="https://fit.bebefitroutine.com/uploads/group198.png" style="padding-bottom: 20px">
                <div>
                  <div style="border-bottom: 1px solid #707174; margin: 0px 40px 0px 40px;"></div>
                  <p style="font-size: 32px; font-weight: 600;"> welcome our new member</p>
                  <div style="border-bottom: 1px solid #707174;  margin: 0px 40px 0px 40px;"></div>
                </div>
              </div>
              <div style="margin-top: 40px; font-size: 24px; line-height:100%; padding-left: 50px;
              padding-right: 50px;padding-bottom: 20px;">
                <p>Thank you for applying to be a member of
                  Bebe Stay Fit. <br>
                  Our team has received the
                  application information already. We thank
                  you for your interest and for choosing us to
                  be a part of high success. Let's create
                  discipline and have fun with exercise. 
                </p>

              </div>
              <div style="width: 900px;">
                <center>
                  <div style="width: 480px;padding: 25px;border: 1px solid; border-radius: 10px;">
                    <div style="margin-top: -20px; text-align: left;">
                      <div>
                        <p style="font-size: 20px; color: #E25E96;">payment date ${orderdate}</p>
                        <p style="font-size: 26px; font-weight: 600;"> Apply for the duration of the program</p>
                        <p style="font-size: 20px; font-weight: 600;"> What to get </p>
                      </div>
                      <div>
                        <li>Exercise program</li>
                        <li>Nutrition program</li>
                        <li>Supplement program</li>
                        <li style=" display: flex;justify-content: space-between;">Fitto Plant Protein <span>6
                          boxes</span></li>
                      </div>

                      <div>
                        <p style="font-size: 26px; font-weight: 600;">Total</p>
                        <p style="font-size: 20px;"> total (Incl.  Vat 7%) <span
                            style="font-weight: 600; font-size: 26px; float: right;">3,990 Baht</span></p>
                      </div>
                    </div>
                  </div>
                </center>
              </div>
            </div>
            <button
              style="width: 200px; height: 50px; margin-top: 30px; border-radius: 50px; border: 1px solid #E25E96; background-color: #E25E96; font-size: 20px; color: #FFF; font-family: 'Prompt', sans-serif;"
              type="button">
              <a href="https://fit.bebefitroutine.com/#/welcome_new_nember" style="color: white; text-decoration: none">
                Get start
              </a>
            </button>
            <div
              style="font-family: 'Prompt', sans-serif; background-color: #F2F2F2; height: 100px; margin-top: 30px; line-height:70%; padding-top: 5px; padding-bottom: 5px;">
              <p>Get help with purchases</p>
              <p>contact us at contact@bebefitroutine.com Tel 028216146</p>
            </div>
          </div>
        </div>
      </div>
    </center>
  </div>
</body>

</html>